<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Home</title>
   	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<div layout:fragment="content"> 
	<table>
	  	<tr>
	    	<td><a th:href="@{|/start/${gameName}|}">SINGLE PLAYER</a></td>
		</tr>
		<tr>
	    	<td><a th:href="@{'/create-online-game'}">MULTI PLAYER</a></td>
		</tr>
		<tr>
	    	<td><a th:href="@{'/join'}">LOBBY</a></td>
		</tr>
		<tr>
	    	<td><a th:href="@{'/'}">EXIT</a></td>
		</tr>
	</table>
</div>

<th:block layout:fragment="scripts">

</th:block>
</body>
</html>