<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Save</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">
	<p>Game has been successfully<span>Saved</span></p>
	<br/>
	<table>
	  	<tr>
	    	<td><a th:href="@{'/home'}">START</a></td>
		</tr>
		<tr>
	    	<td><a th:href="@{'/loadFiles'}">LOAD</a></td>
		</tr>
	</table>
</div>

<th:block layout:fragment="scripts">

</th:block>
</body>
</html>