<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404 Not Found</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
</head>
	<body>
		<div > 

			<img th:src="@{/img/navy.jpg}">
			<br/><br/>
			<p th:text="${errorType}"></p>
		    <table>
			  	<tr>
			    	<td><a class="button button3 size" th:href="@{'/home'}">START GAME</a></td>
				</tr>
				<tr>
			    	<td><a class="button button3 size" th:href="@{'/loadFiles'}">LOAD GAME</a></td>
				</tr>
			</table>
			<!--

			<br/>
			<a class="button button3 size" th:href="@{'/home'}">START GAME</a>
			<a class="button button3 size" th:href="@{'/loadFiles'}">LOAD GAME</a>
			
			-->
		</div>
	</body>
</html>