body {
    display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 80vh;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 22px 63px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3 {
    background-color: white; 
    color: #f44336; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

.size {
    width: 100px;
}

p { 
	text-align: center 
}

img {
	display: block;
    margin-left: auto;
 