/*VARIABLES*/
:root {
    --submarine-color: aquamarine;
    --destroyer-color: orange;
    --battleship-color: yellow;
    --cruiser-color: greenyellow;
    --carrier-color: coral;
    --hit-color: red;
    --water-color: blue;
    --tile-size:40px;
}

/*NORMALISATION*/
div{
    text-align: center;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}

table, td, th, tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th {
    text-align: center;
}

/*CONTAINERS*/
.fleet-container{
    display: flex;
    justify-content: space-between;
    min-height: 200px;
}
.main-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.main-wrapper{
    background: url('/static/img/transparent-background.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(0px);
}

.map-container{
    display: flex;
    justify-content: center;

}

.form-container{
    display: flex;
    justify-content: center;

}
.options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*GRID*/
.player-one-map {
    margin:50px 50px 50px 50px;
}

.player-two-map {
    margin:50px 50px 50px 50px;
}

.test{
    /*transform: rotateX(180deg);*/
}

.tiles {
    cursor: pointer;
    width:var(--tile-size);
    height:var(--tile-size);
}

.tiles div{
    position: absolute;
}

/*#player-two-socket-map {*/
    /*!*display: none;*!*/
/*}*/

#dinamic-player-map{
    /*display: none;*/
}

#dinamic-player-targets{
    /*display: none;*/
}

/* SHIPS*/
#submarine {
    background-color: var(--submarine-color);
    width:calc(var(--tile-size)*2);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;;
}
#destroyer {
    background-color: var(--destroyer-color);
    width:calc(var(--tile-size)*3);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
#cruiser {
    background-color: var(--cruiser-color);
    width:calc(var(--tile-size)*3);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
#battleship {
    background-color: var(--battleship-color);
    width:calc(var(--tile-size)*4);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
#carrier {
    background-color: var(--carrier-color);
    width:calc(var(--tile-size)*5);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
div[name="-1"] {
    background-color: var(--hit-color);
    width:var(--tile-size);
    height:var(--tile-size);
}
div[name="0"] {
    background-color: var(--water-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="1"] {
    background-color: var(--submarine-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="2"] {
    background-color: var(--destroyer-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="3"] {
    background-color: var(--cruiser-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="4"] {
    background-color: var(--battleship-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="5"] {
    background-color: var(--carrier-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

/*BUTTONS*/
#submit-fleet-button{
    display: none;
}

/*Loader*/
.loader-container{
    display: none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

}

/* Safari */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


