/*VARIABLES*/
:root {
    --submarine-color: #262626;
    --destroyer-color: #262626;
    --battleship-color: #262626;
    --cruiser-color: #262626;
    --carrier-color: #262626;
    --hit-color: #f44336;
    --tile-size:30px;
}

/*NORMALISATION*/
div{
    text-align: center;
}
p{
    display: none;
}
body {
    display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;
}

table, td, th, tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th {
    text-align: center;
}

.torpedo-form{
	display: none;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 22px 63px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3 {
    background-color: white; 
    color: #f44336; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

h1{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

span{
    color: #f44336;
    font-size: 45px;
    font-style: normal;
}
/*CONTAINERS*/

.main-wrapper{
    background: url('https://images.unsplash.com/photo-1486723312829-f32b4a25211b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(0px);
}

.map-container{
    display: flex;
    justify-content: center;
}


/*GRID*/
.player-one-map {
    margin:50px 50px 50px 50px;
}

.player-two-map {
    margin:50px 50px 50px 50px;
}

.test{
    /*transform: rotateX(180deg);*/
}
.tiles {
    cursor: pointer;
    width:var(--tile-size);
    height:var(--tile-size);
}

.tiles div{
    position: absolute;
}



/* SHIPS*/
#submarine {
    background-color: var(--submarine-color);
    width:calc(var(--tile-size)*2);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;;
}
#destroyer {
    background-color: var(--destroyer-color);
    width:calc(var(--tile-size)*3);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
#cruiser {
    background-color: var(--cruiser-color);
    width:calc(var(--tile-size)*3);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
#battleship {
    background-color: var(--battleship-color);
    width:calc(var(--tile-size)*4);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
#carrier {
    background-color: var(--carrier-color);
    width:calc(var(--tile-size)*5);
    height:calc(var(--tile-size)*1);
    transition: transform .3s ease-in;
}
div[name="-1"] {
    background-color: var(--hit-color);
    width:var(--tile-size);
    height:var(--tile-size);
}
div[name="0"] {
    background-color: var(--water-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="1"] {
    background-color: var(--submarine-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="2"] {
    background-color: var(--destroyer-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="3"] {
    background-color: var(--cruiser-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="4"] {
    background-color: var(--battleship-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

div[name="5"] {
    background-color: var(--carrier-color);
    width:var(--tile-size);
    height:var(--tile-size);
}

/*BUTTONS*/
#submit-fleet-button{
    display: none;
}

/*Loader*/
.loader-container{
    display: none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

}

/* Safari */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


