<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head> 
    <title>Getting Started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/startUp.css}"/>
</head>
<body>
<div layout:fragment="content">
 	<p class="standard">WELCOME</p>
 	<p>Starting a New Game <span class="red">!!!</span> <br>
	Each player places the <span class="red">5 ships</span> somewhere on their board.  
	The ships can only be placed <span class="red">vertically</span> or <span class="red">horizontally</span>. 
	Diagonal placement is <span class="red">not allowed</span>. 
	No part of a ship may hang off the edge of the board.  Ships may not overlap each other.  
	No ships may be placed on another ship. Once the guessing begins, the players may not move the ships.
	The 5 ships are:  <span class="red">Carrier</span> (occupies 5 spaces), 
	                  <span class="red">Battleship</span> (4), 
	                  <span class="red">Cruiser</span> (3), 
	                  <span class="red">Submarine</span> (3), and 
	                  <span class="red">Destroyer</span> (2).  
	</p>
    <div>
        <table>
            <tr th:each="i: ${#numbers.sequence(0,9)}">
                <td th:each="j: ${#numbers.sequence(0,9)}" th:id="${i + ',' + j}" onclick="shipsChooser(this)">

                </td>
            </tr>
        </table>
    </div>

	<br/>
    <div class="custom-select center" style="width:200px;">
	    <select id="difficulty" onchange="run()">
	        <option value="false" selected="selected">easy</option>
	         <option value="true" >hard</option>
	    </select>
    </div>
    <div>
        <form action="#" th:action="@{/start}" th:object="${formController}" method="post">
            <p><input style="display: none" id="data" type="text" th:field="*{data}" /></p>
            <p><input id="submit-fleet-button" type="submit" value="START" /></p>
        </form>
    </div>

    <div class="center">
        <a class="button button3" th:href="@{'/'}">EXIT</a>
	</div>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/constants/constants.js}"></script>
    <script type="text/javascript" th:src="@{/js/ship.js}"></script>
        <script type="text/javascript" th:src="@{/js/difficulty.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/jquery-1.9.0.js}"></script>
</th:block>
</body>
</html>
