<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Battleship home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="home-options-container">
        <div><a th:href="@{'/start'}">play vs computer</a></div>
        <div><a th:href="@{'/create-online-game'}">create a online game</a></div>
        <div><a th:href="@{'/load'}">load a saved battleshipGame</a></div>
        <div><a th:href="@{'/join'}">join an online game</a></div>
    </div>
</div>

<th:block layout:fragment="scripts">

</th:block>
</body>
</html>