<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Battleship home</title>
</head>
<body>
<div layout:fragment="content">
    <p class="home-options-container">
        <table >
            <tr th:each="game: ${gameList}">
                <div>
                    <a th:href="@{'/join/' + ${game.id}}" >test</a>
                </div>
            </tr>
        </table>
    </div>
</div>

<th:block layout:fragment="scripts">

</th:block>
</body>
</html>