<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Battleship home</title>
</head>
<body>
<div layout:fragment="content">
    <form action="#" th:action="@{/start}" th:object="${formController}" method="post">
        <p>data: <input id="fleet-data-input" type="text" th:field="*{data}" /></p>
        <p><input id="submit-fleet-button" type="submit" value="Submit" /></p>
    </form>
</div>

<th:block layout:fragment="scripts">

</th:block>
</body>
</html>