<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Battleship</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/loadXMLFile.css}"/>
</head>
<body>
	<div layout:fragment="content">
		<div id="style-8">
			<table>
				<tr th:each="file : ${listOfFiles}">
					<td>
		     			<a th:href="@{load/{file}(file=${file})}">
						   	<img src="https://img.icons8.com/wired/50/000000/xml-file.png">
						    <span th:text="BattleShip_Save + ${file}"></span>
						</a> 
					</td>
				</tr>
			</table>
		</div>
		
		<br/><br/>
		<br/><br/>
		<div id="middle">
			<a id="style-2" th:href="@{'/'}"> &nbsp BACK &nbsp</a>
			<a id="style-2" th:href="@{'/'}">DELETE</a>
		</div>		
	</div>
<th:block layout:fragment="scripts">
</th:block>
</body>
</html>