<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Battleship home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="home-options-container">
        <div><a th:href="@{'/start'}">play against computer</a></div>
        <div><a th:href="@{'/start'}">play against computer</a></div>
        <div><a th:href="@{'/load'}">load a saved battleshipGame</a></div>

        <div>
            <input id="game-id" type="text" placeholder="enter game id" />
            <button id="submit-game-id" onclick="sendGameID()">Load</button>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/jquery-1.9.0.js}"></script>
</th:block>
</body>
</html>