<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Join a game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">

    <div class="loader-container">
        <div id="loader" class="loader"></div>
    </div>


    <div class="main-wrapper">
        <h1 id="message-header">Join Game</h1>

        <div class="rules-container">
            <p class="standard">WELCOME</p>
            <p>Create an online game <span class="red">!!!</span> <br>
                Each player display <span class="red">5 ships</span> on the board.
                Ships may only be displayed <span class="red">verticaly</span> or <span class="red">horizontaly</span>.
                be contained into the grid and not overlap each others.
                Ships are:  <span class="red">Carrier</span> (occupies 5 places),
                <span class="red">Battleship</span> (4),
                <span class="red">Cruiser</span> (3),
                <span class="red">Submarine</span> (3), and
                <span class="red">Destroyer</span> (2).
            </p>
        </div>

        <!--<div class="fleet-container" ondrop="drop(event)" ondragover="allowDrop(event)">-->
        <!--<div id="submarine" draggable="true" ondblclick="rotateShip(this.id)" ondragstart="drag(event)">1</div>-->
        <!--<div id="destroyer" draggable="true" ondblclick="rotateShip(this.id)" ondragstart="drag(event)">2</div>-->
        <!--<div id="cruiser" draggable="true" ondblclick="rotateShip(this.id)" ondragstart="drag(event)">3</div>-->
        <!--<div id="battleship" draggable="true" ondblclick="rotateShip(this.id)" ondragstart="drag(event)">4</div>-->
        <!--<div id="carrier" draggable="true" ondblclick="rotateShip(this.id)" ondragstart="drag(event)">5</div>-->
        <!--</div>-->

        <div class="map-container">


            <div class="player-one-map">
                <table>
                    <tr th:each="i: ${#numbers.sequence(0,9)}">
                        <td th:each="j: ${#numbers.sequence(0,9)}" th:id="${i + ',' + j}"
                            onclick="shipsChooser(this)"></td>
                    </tr>
                </table>
            </div>

            <div id="dinamic-player-map"></div>

            <div id="dinamic-player-targets"></div>
        </div>

        <div class="options-container">
            <button class="button button3" onclick="joinGame()">JOINDRE</button>
            <a class="button button3" th:href="@{'/'}">SORTIR</a>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/lib/jquery-1.9.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/constants/constants.js}"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type="text/javascript" th:src="@{/js/battleship/multiplayers.js}"></script>
    <script type="text/javascript" th:src="@{/js/battleship/player2-socket.js}"></script>
    <script type="text/javascript" th:src="@{/js/battleship/difficulty.js}"></script>
</th:block>
</body>
</html>
