<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Play Battleship</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body>
<div layout:fragment="content">
    <img th:src="@{/img/navy.jpg}">
    <div class="map-container">
        <table class="player-one-map test">
            <tr th:each="col: ${battleshipGame.playerOne.playerBoard.map}">
                <td th:each="colValue: ${col}">
                    <div class="tiles" th:name="${colValue}" th:text="${colValue}"></div>
                </td>
            </tr>
        </table>

        <table class="player-two-map test">
            <tr th:each="col, iterX: ${battleshipGame.playerOne.ennemyBoard.map}">
                <td th:each="colValue, iterY: ${col}">
                    <div th:class="tiles" th:name="${colValue}" th:text="${colValue}" th:onclick="|torpedo(event, ${iterX.index}, ${iterY.index})|" ></div>
                </td>
            </tr>
        </table>
    </div>


    <div class="form-container">

        <div>
            <form action="#" th:action="@{/play}" th:object="${formController}" method="post">
                <p><input style="display: none" id="data" type="text" th:field="*{data}" /></p>
                <p><input id="submit-play-button" type="submit" value="START" /></p>
            </form>
        </div>



        <form class="torpedo-form" id='form-save' action="#" th:action="@{/save}" th:object="${battleshipGame}" method="post">
            <div>
                <input class="button button3" id="savegame-form-input" type="submit" value="SAVE" />
                <a class="button button3" th:href="@{'/'}">EXIT</a>
            </div>

            <p>Game id: <input class='torpedo-form' type="text" th:field="*{id}" /></p>

            <p>playerOne name: <input  type="text" th:field="*{playerOne.name}" /></p>
            <p>playerOne map: <input  type="text" th:field="*{playerOne.playerBoard.map}" /></p>
            <p>playerOne map width: <input  type="text" th:field="*{playerOne.playerBoard.width}" /></p>
            <p>playerOne map heigth: <input  type="text" th:field="*{playerOne.playerBoard.height}" /></p>
            <p>PlayerOne enemy map: <input  type="text" th:field="*{playerOne.ennemyBoard.map}"/></p>
            <p>PlayerOne ships remaining: <input  type="text" th:field="*{playerOne.shipsRemaining}"/></p>

            <p>PlayerOne carrier BowX: <input  type="text" th:field="*{playerOne.carrier.bowX}"/></p>
            <p>PlayerOne carrier BowY: <input  type="text" th:field="*{playerOne.carrier.bowY}"/></p>
            <p>PlayerOne carrier StemX: <input  type="text" th:field="*{playerOne.carrier.stemX}"/></p>
            <p>PlayerOne carrier StemY: <input  type="text" th:field="*{playerOne.carrier.stemY}"/></p>

            <p>PlayerOne submarine BowX: <input  type="text" th:field="*{playerOne.submarine.bowX}"/></p>
            <p>PlayerOne submarine BowY: <input  type="text" th:field="*{playerOne.submarine.bowY}"/></p>
            <p>PlayerOne submarine StemX: <input  type="text" th:field="*{playerOne.submarine.stemX}"/></p>
            <p>PlayerOne submarine StemY: <input  type="text" th:field="*{playerOne.submarine.stemY}"/></p>

            <p>PlayerOne destroyer BowX: <input  type="text" th:field="*{playerOne.destroyer.bowX}"/></p>
            <p>PlayerOne destroyer BowY: <input  type="text" th:field="*{playerOne.destroyer.bowY}"/></p>
            <p>PlayerOne destroyer StemX: <input  type="text" th:field="*{playerOne.destroyer.stemX}"/></p>
            <p>PlayerOne destroyer StemY: <input  type="text" th:field="*{playerOne.destroyer.stemY}"/></p>

            <p>PlayerOne cruiser BowX: <input  type="text" th:field="*{playerOne.cruiser.bowX}"/></p>
            <p>PlayerOne cruiser BowY: <input  type="text" th:field="*{playerOne.cruiser.bowY}"/></p>
            <p>PlayerOne cruiser StemX: <input  type="text" th:field="*{playerOne.cruiser.stemX}"/></p>
            <p>PlayerOne cruiser StemY: <input  type="text" th:field="*{playerOne.cruiser.stemY}"/></p>

            <p>PlayerOne battleship BowX: <input  type="text" th:field="*{playerOne.battleship.bowX}"/></p>
            <p>PlayerOne battleship BowY: <input  type="text" th:field="*{playerOne.battleship.bowY}"/></p>
            <p>PlayerOne battleship StemX: <input  type="text" th:field="*{playerOne.battleship.stemX}"/></p>
            <p>PlayerOne battleship StemY: <input  type="text" th:field="*{playerOne.battleship.stemY}"/></p>

            <p>playerTwo carrier BowX: <input  type="text" th:field="*{playerTwo.carrier.bowX}"/></p>
            <p>playerTwo carrier BowY: <input  type="text" th:field="*{playerTwo.carrier.bowY}"/></p>
            <p>playerTwo carrier StemX: <input  type="text" th:field="*{playerTwo.carrier.stemX}"/></p>
            <p>playerTwo carrier StemY: <input  type="text" th:field="*{playerTwo.carrier.stemY}"/></p>

            <p>playerTwo submarine BowX: <input  type="text" th:field="*{playerTwo.submarine.bowX}"/></p>
            <p>playerTwo submarine BowY: <input  type="text" th:field="*{playerTwo.submarine.bowY}"/></p>
            <p>playerTwo submarine StemX: <input  type="text" th:field="*{playerTwo.submarine.stemX}"/></p>
            <p>playerTwo submarine StemY: <input  type="text" th:field="*{playerTwo.submarine.stemY}"/></p>

            <p>playerTwo destroyer BowX: <input  type="text" th:field="*{playerTwo.destroyer.bowX}"/></p>
            <p>playerTwo destroyer BowY: <input  type="text" th:field="*{playerTwo.destroyer.bowY}"/></p>
            <p>playerTwo destroyer StemX: <input  type="text" th:field="*{playerTwo.destroyer.stemX}"/></p>
            <p>playerTwo destroyer StemY: <input  type="text" th:field="*{playerTwo.destroyer.stemY}"/></p>

            <p>playerTwo cruiser BowX: <input  type="text" th:field="*{playerTwo.cruiser.bowX}"/></p>
            <p>playerTwo cruiser BowY: <input  type="text" th:field="*{playerTwo.cruiser.bowY}"/></p>
            <p>playerTwo cruiser StemX: <input  type="text" th:field="*{playerTwo.cruiser.stemX}"/></p>
            <p>playerTwo cruiser StemY: <input  type="text" th:field="*{playerTwo.cruiser.stemY}"/></p>

            <p>playerTwo battleship BowX: <input  type="text" th:field="*{playerTwo.battleship.bowX}"/></p>
            <p>playerTwo battleship BowY: <input  type="text" th:field="*{playerTwo.battleship.bowY}"/></p>
            <p>playerTwo battleship StemX: <input  type="text" th:field="*{playerTwo.battleship.stemX}"/></p>
            <p>playerTwo battleship StemY: <input  type="text" th:field="*{playerTwo.battleship.stemY}"/></p>
            <p>playerTwo name: <input  type="text" th:field="*{playerTwo.name}" /></p>

            <p>targetX: <input  type="text" th:field="*{playerOne.targetX}" value=1/></p>
            <p>targetY: <input  type="text" th:field="*{playerOne.targetY}" value=0/></p>
            <p>playerTwo map: <input  type="text" th:field="*{playerTwo.playerBoard.map}" /></p>
            <p>playerTwo map width: <input  type="text" th:field="*{playerTwo.playerBoard.width}" /></p>
            <p>playerTwo map heigth: <input  type="text" th:field="*{playerTwo.playerBoard.height}" /></p>
            <p>PlayerT ships remaining: <input  type="text" th:field="*{playerTwo.shipsRemaining}"/></p>
            <p>playerTwo ennemy map: <input  type="text" th:field="*{playerTwo.ennemyBoard.map}"/></p>
            <p>recorder: <input  type="text" th:field="*{recorder.playerOneMoves}"/></p>
            <p>recorder: <input  type="text" th:field="*{recorder.playerTwoMoves}"/></p>

            <p>ai state: <input  type="text" th:field="*{ai.state}"/></p>
            <p>ai difficulty: <input  type="text" th:field="*{ai.difficulty}"/></p>
            <p>ai start poistion: <input  type="text" th:field="*{ai.startPosition}"/></p>
        </form>

        <form id='form-play'  action="#" th:action="@{/play}" th:object="${battleshipGame}" method="post">
            <p><input id="torpedo-form-submit" class='torpedo-form-submit' type="submit" value="Torpedo" /></p>

            <p>Game id: <input id="game-id" type="text" th:field="*{id}" /></p>
            <p>playerOne name: <input id="playerOne-name"  type="text" th:field="*{playerOne.name}" /></p>
            <p>playerOne map: <input id="playerOne-playerBoard-map"  type="text" th:field="*{playerOne.playerBoard.map}" /></p>
            <p>playerOne map width: <input id="playerOne-playerBoard-width"  type="text" th:field="*{playerOne.playerBoard.width}" /></p>
            <p>playerOne map heigth: <input id="playerOne-playerBoard-height"  type="text" th:field="*{playerOne.playerBoard.height}" /></p>
            <p>PlayerOne enemy map: <input id="playerOne-ennemyBoard-map"  type="text" th:field="*{playerOne.ennemyBoard.map}"/></p>
            <p>PlayerOne ships remaining: <input id="playerOne-shipsRemaining"  type="text" th:field="*{playerOne.shipsRemaining}"/></p>

            <p>PlayerOne carrier BowX: <input id="playerOne-carrier-bowX"  type="text" th:field="*{playerOne.carrier.bowX}"/></p>
            <p>PlayerOne carrier BowY: <input id="playerOne-carrier-bowY"   type="text" th:field="*{playerOne.carrier.bowY}"/></p>
            <p>PlayerOne carrier StemX: <input id="playerOne-carrier-stemX"   type="text" th:field="*{playerOne.carrier.stemX}"/></p>
            <p>PlayerOne carrier StemY: <input id="playerOne-carrier-stemY"   type="text" th:field="*{playerOne.carrier.stemY}"/></p>

            <p>PlayerOne submarine BowX: <input id="playerOne-submarine-bowX"   type="text" th:field="*{playerOne.submarine.bowX}"/></p>
            <p>PlayerOne submarine BowY: <input id="playerOne-submarine-bowY"   type="text" th:field="*{playerOne.submarine.bowY}"/></p>
            <p>PlayerOne submarine StemX: <input id="playerOne-submarine-stemX"  type="text" th:field="*{playerOne.submarine.stemX}"/></p>
            <p>PlayerOne submarine StemY: <input id="playerOne-submarine-stemY"  type="text" th:field="*{playerOne.submarine.stemY}"/></p>

            <p>PlayerOne destroyer BowX: <input id="playerOne-destroyer-bowX"  type="text" th:field="*{playerOne.destroyer.bowX}"/></p>
            <p>PlayerOne destroyer BowY: <input id="playerOne-destroyer-bowY"  type="text" th:field="*{playerOne.destroyer.bowY}"/></p>
            <p>PlayerOne destroyer StemX: <input id="playerOne-destroyer-stemX"  type="text" th:field="*{playerOne.destroyer.stemX}"/></p>
            <p>PlayerOne destroyer StemY: <input id="playerOne-destroyer-stemY"  type="text" th:field="*{playerOne.destroyer.stemY}"/></p>

            <p>PlayerOne cruiser BowX: <input id="playerOne-cruiser-bowX" type="text" th:field="*{playerOne.cruiser.bowX}"/></p>
            <p>PlayerOne cruiser BowY: <input id="playerOne-cruiser-bowY" type="text" th:field="*{playerOne.cruiser.bowY}"/></p>
            <p>PlayerOne cruiser StemX: <input id="playerOne-cruiser-stemX" type="text" th:field="*{playerOne.cruiser.stemX}"/></p>
            <p>PlayerOne cruiser StemY: <input id="playerOne-cruiser-stemY" type="text" th:field="*{playerOne.cruiser.stemY}"/></p>

            <p>PlayerOne battleship BowX: <input id="playerOne-battleship-bowX" type="text" th:field="*{playerOne.battleship.bowX}"/></p>
            <p>PlayerOne battleship BowY: <input id="playerOne-battleship-bowY" type="text" th:field="*{playerOne.battleship.bowY}"/></p>
            <p>PlayerOne battleship StemX: <input id="playerOne-battleship-stemX" type="text" th:field="*{playerOne.battleship.stemX}"/></p>
            <p>PlayerOne battleship StemY: <input id="playerOne-battleship-stemY" type="text" th:field="*{playerOne.battleship.stemY}"/></p>


            <!--player TWo-->
            <p>playerTwo carrier BowX: <input id="playerTwo-carrier-bowX" type="text" th:field="*{playerTwo.carrier.bowX}"/></p>
            <p>playerTwo carrier BowY: <input id="playerTwo-carrier-bowY" type="text" th:field="*{playerTwo.carrier.bowY}"/></p>
            <p>playerTwo carrier StemX: <input id="playerTwo-carrier-stemX" type="text" th:field="*{playerTwo.carrier.stemX}"/></p>
            <p>playerTwo carrier StemY: <input id="playerTwo-carrier-stemY" type="text" th:field="*{playerTwo.carrier.stemY}"/></p>

            <p>playerTwo submarine BowX: <input id="playerTwo-submarine-bowX" type="text" th:field="*{playerTwo.submarine.bowX}"/></p>
            <p>playerTwo submarine BowY: <input id="playerTwo-submarine-bowY" type="text" th:field="*{playerTwo.submarine.bowY}"/></p>
            <p>playerTwo submarine StemX: <input id="playerTwo-submarine-stemX" type="text" th:field="*{playerTwo.submarine.stemX}"/></p>
            <p>playerTwo submarine StemY: <input id="playerTwo-submarine-stemY" type="text" th:field="*{playerTwo.submarine.stemY}"/></p>

            <p>playerTwo destroyer BowX: <input id="playerTwo-destroyer-bowX" type="text" th:field="*{playerTwo.destroyer.bowX}"/></p>
            <p>playerTwo destroyer BowY: <input id="playerTwo-destroyer-bowY" type="text" th:field="*{playerTwo.destroyer.bowY}"/></p>
            <p>playerTwo destroyer StemX: <input id="playerTwo-destroyer-stemX" type="text" th:field="*{playerTwo.destroyer.stemX}"/></p>
            <p>playerTwo destroyer StemY: <input id="playerTwo-destroyer-stemY" type="text" th:field="*{playerTwo.destroyer.stemY}"/></p>

            <p>playerTwo cruiser BowX: <input id="playerTwo-cruiser-bowX" type="text" th:field="*{playerTwo.cruiser.bowX}"/></p>
            <p>playerTwo cruiser BowY: <input id="playerTwo-cruiser-bowY" type="text" th:field="*{playerTwo.cruiser.bowY}"/></p>
            <p>playerTwo cruiser StemX: <input id="playerTwo-cruiser-stemX" type="text" th:field="*{playerTwo.cruiser.stemX}"/></p>
            <p>playerTwo cruiser StemY: <input id="playerTwo-cruiser-stemY" type="text" th:field="*{playerTwo.cruiser.stemY}"/></p>

            <p>playerTwo battleship BowX: <input id="playerTwo-battleship-bowX" type="text" th:field="*{playerTwo.battleship.bowX}"/></p>
            <p>playerTwo battleship BowY: <input id="playerTwo-battleship-bowY" type="text" th:field="*{playerTwo.battleship.bowY}"/></p>
            <p>playerTwo battleship StemX: <input id="playerTwo-battleship-stemX" type="text" th:field="*{playerTwo.battleship.stemX}"/></p>
            <p>playerTwo battleship StemY: <input id="playerTwo-battleship-stemY" type="text" th:field="*{playerTwo.battleship.stemY}"/></p>



            <p>targetX: <input id="targetX"  type="text" th:field="*{playerOne.targetX}" /></p>
            <p>targetY: <input id="targetY"  type="text" th:field="*{playerOne.targetY}" /></p>

            <p>playerTwo name: <input id="playerTwo-name" type="text" th:field="*{playerTwo.name}" /></p>
            <p>playerTwo map: <input id="playerTwo-playerBoard-map" type="text" th:field="*{playerTwo.playerBoard.map}" /></p>
            <p>playerTwo map width: <input id="playerTwo-playerBoard-width" type="text" th:field="*{playerTwo.playerBoard.width}" /></p>
            <p>playerTwo map heigth: <input id="playerTwo-playerBoard-height" type="text" th:field="*{playerTwo.playerBoard.height}" /></p>
            <p>PlayerT ships remaining: <input id="playerTwo-shipsRemaining" type="text" th:field="*{playerTwo.shipsRemaining}"/></p>
            <p>playerTwo ennemy map: <input id="playerTwo-ennemyBoard-map" type="text" th:field="*{playerTwo.ennemyBoard.map}"/></p>

            <p>recorder: <input id="recorder-playerOneMoves" type="text" th:field="*{recorder.playerOneMoves}"/></p>
            <p>recorder: <input id="recorder-playerTwoMoves" type="text" th:field="*{recorder.playerTwoMoves}"/></p>
            <p>recorder: <input id="recorder-index" type="text" th:field="*{recorder.index}"/></p>

            <p>ai status stack: <input id="ai-state" type="text" th:field="*{ai.state}"/></p>
            <p>ai difficulty: <input id="ai-difficulty" type="text" th:field="*{ai.difficulty}"/></p>
            <p>ai start poistion: <input id="ai-startPosition" type="text" th:field="*{ai.startPosition}"/></p>

            <p>PlayerOne carrier id: <input id="playerOne-carrier-id" type="text" th:field="*{playerOne.carrier.id}"/></p>
            <p>PlayerOne submarine id: <input id="playerOne-submarine-id" type="text" th:field="*{playerOne.submarine.id}"/></p>
            <p>PlayerOne cruiser id: <input id="playerOne-cruiser-id" type="text" th:field="*{playerOne.cruiser.id}"/></p>
            <p>PlayerOne battleship id: <input id="playerOne-battleship-id" type="text" th:field="*{playerOne.battleship.id}"/></p>
            <p>PlayerOne destroyer id: <input id="playerOne-destroyer-id" type="text" th:field="*{playerOne.destroyer.id}"/></p>

            <p>PlayerTwo carrier id: <input id="playerTwo-carrier-id" type="text" th:field="*{playerTwo.carrier.id}"/></p>
            <p>PlayerTwo submarine id: <input id="playerTwo-submarine-id" type="text" th:field="*{playerTwo.submarine.id}"/></p>
            <p>PlayerTwo cruiser id: <input id="playerTwo-cruiser-id" type="text" th:field="*{playerTwo.cruiser.id}"/></p>
            <p>PlayerTwo battleship id: <input id="playerTwo-battleship-id" type="text" th:field="*{playerTwo.battleship.id}"/></p>
            <p>PlayerTwo destroyer id: <input id="playerTwo-destroyer-id" type="text" th:field="*{playerTwo.destroyer.id}"/></p>

            <p>PlayerOne carrier size: <input id="playerOne-carrier-size" type="text" th:field="*{playerOne.carrier.size}"/></p>
            <p>PlayerOne submarine size: <input id="playerOne-submarine-size" type="text" th:field="*{playerOne.submarine.size}"/></p>
            <p>PlayerOne cruiser size: <input id="playerOne-cruiser-size" type="text" th:field="*{playerOne.cruiser.size}"/></p>
            <p>PlayerOne battleship size: <input id="playerOne-battleship-size"  type="text" th:field="*{playerOne.battleship.size}"/></p>
            <p>PlayerOne destroyer size: <input id="playerOne-destroyer-size"  type="text" th:field="*{playerOne.destroyer.size}"/></p>

            <p>PlayerTwo carrier size: <input id="playerTwo-carrier-size"  type="text" th:field="*{playerTwo.carrier.size}"/></p>
            <p>PlayerTwo submarine size: <input id="playerTwo-submarine-size"  type="text" th:field="*{playerTwo.submarine.size}"/></p>
            <p>PlayerTwo cruiser size: <input id="playerTwo-cruiser-size"  type="text" th:field="*{playerTwo.cruiser.size}"/></p>
            <p>PlayerTwo battleship size: <input id="playerTwo-battleship-size"  type="text" th:field="*{playerTwo.battleship.size}"/></p>
            <p>PlayerTwo destroyer size: <input id="playerTwo-destroyer-size"  type="text" th:field="*{playerTwo.destroyer.size}"/></p>







            <!--memento-->

            <p>playerOne name: <input id="memento-playerOne-name" type="text" th:field="*{memento.playerOne.name}" /></p>
            <p>playerOne map: <input  id="memento-playerOne-playerBoard-map" type="text" th:field="*{memento.playerOne.playerBoard.map}" /></p>
            <p>PlayerOne enemy map: <input  id="memento-playerOne-ennemyBoard-map" type="text" th:field="*{memento.playerOne.ennemyBoard.map}"/></p>
            <p>PlayerOne ships remaining: <input id="memento-playerOne-shipsRemaining" type="text" th:field="*{memento.playerOne.shipsRemaining}"/></p>
            <p>playerTwo map: <input id="memento-playerTwo-playerBoard-map" type="text" th:field="*{memento.playerTwo.playerBoard.map}" /></p>
            <p>PlayerT ships remaining: <input id="memento-playerTwo-shipsRemaining" type="text" th:field="*{memento.playerTwo.shipsRemaining}"/></p>
            <p>playerTwo ennemy map: <input id="memento-playerTwo-ennemyBoard-map" type="text" th:field="*{memento.playerTwo.ennemyBoard.map}"/></p>
            <p>recorder: <input id="memento-recorder-playerOneMoves" type="text" th:field="*{memento.recorder.playerOneMoves}"/></p>
            <p>recorder: <input id="memento-recorder-playerTwoMoves" type="text" th:field="*{memento.recorder.playerTwoMoves}"/></p>
            <p>recorder index: <input id="memento-recorder-index" type="text" th:field="*{memento.recorder.index}"/></p>


            <p>PlayerOne carrier BowX: <input id="memento-playerOne-carrier-bowX" type="text" th:field="*{memento.playerOne.carrier.bowX}"/></p>
            <p>PlayerOne carrier BowY: <input id="memento-playerOne-carrier-bowY" type="text" th:field="*{memento.playerOne.carrier.bowY}"/></p>
            <p>PlayerOne carrier StemX: <input id="memento-playerOne-carrier-stemX" type="text" th:field="*{memento.playerOne.carrier.stemX}"/></p>
            <p>PlayerOne carrier StemY: <input id="memento-playerOne-carrier-stemY" type="text" th:field="*{memento.playerOne.carrier.stemY}"/></p>

            <p>PlayerOne submarine BowX: <input id="memento-playerOne-submarine-bowX" type="text" th:field="*{memento.playerOne.submarine.bowX}"/></p>
            <p>PlayerOne submarine BowY: <input id="memento-playerOne-submarine-bowY" type="text" th:field="*{memento.playerOne.submarine.bowY}"/></p>
            <p>PlayerOne submarine StemX: <input id="memento-playerOne-submarine-stemX" type="text" th:field="*{memento.playerOne.submarine.stemX}"/></p>
            <p>PlayerOne submarine StemY: <input id="memento-playerOne-submarine-stemY" type="text" th:field="*{memento.playerOne.submarine.stemY}"/></p>

            <p>PlayerOne destroyer BowX: <input id="memento-playerOne-destroyer-bowX" type="text" th:field="*{memento.playerOne.destroyer.bowX}"/></p>
            <p>PlayerOne destroyer BowY: <input id="memento-playerOne-destroyer-bowY" type="text" th:field="*{memento.playerOne.destroyer.bowY}"/></p>
            <p>PlayerOne destroyer StemX: <input id="memento-playerOne-destroyer-stemX" type="text" th:field="*{memento.playerOne.destroyer.stemX}"/></p>
            <p>PlayerOne destroyer StemY: <input id="memento-playerOne-destroyer-stemY" type="text" th:field="*{memento.playerOne.destroyer.stemY}"/></p>

            <p>PlayerOne cruiser BowX: <input id="memento-playerOne-cruiser-bowX" type="text" th:field="*{memento.playerOne.cruiser.bowX}"/></p>
            <p>PlayerOne cruiser BowY: <input id="memento-playerOne-cruiser-bowY" type="text" th:field="*{memento.playerOne.cruiser.bowY}"/></p>
            <p>PlayerOne cruiser StemX: <input id="memento-playerOne-cruiser-stemX" type="text" th:field="*{memento.playerOne.cruiser.stemX}"/></p>
            <p>PlayerOne cruiser StemY: <input id="memento-playerOne-cruiser-stemY" type="text" th:field="*{memento.playerOne.cruiser.stemY}"/></p>

            <p>PlayerOne battleship BowX: <input id="memento-playerOne-battleship-bowX" type="text" th:field="*{memento.playerOne.battleship.bowX}"/></p>
            <p>PlayerOne battleship BowY: <input id="memento-playerOne-battleship-bowY" type="text" th:field="*{memento.playerOne.battleship.bowY}"/></p>
            <p>PlayerOne battleship StemX: <input id="memento-playerOne-battleship-stemX" type="text" th:field="*{memento.playerOne.battleship.stemX}"/></p>
            <p>PlayerOne battleship StemY: <input id="memento-playerOne-battleship-stemY" type="text" th:field="*{memento.playerOne.battleship.stemY}"/></p>

            <p>playerTwo carrier BowX: <input id="memento-playerTwo-carrier-bowX" type="text" th:field="*{memento.playerTwo.carrier.bowX}"/></p>
            <p>playerTwo carrier BowY: <input id="memento-playerTwo-carrier-bowY" type="text" th:field="*{memento.playerTwo.carrier.bowY}"/></p>
            <p>playerTwo carrier StemX: <input id="memento-playerTwo-carrier-stemX" type="text" th:field="*{memento.playerTwo.carrier.stemX}"/></p>
            <p>playerTwo carrier StemY: <input id="memento-playerTwo-carrier-stemY" type="text" th:field="*{memento.playerTwo.carrier.stemY}"/></p>

            <p>playerTwo submarine BowX: <input id="memento-playerTwo-submarine-bowX" type="text" th:field="*{memento.playerTwo.submarine.bowX}"/></p>
            <p>playerTwo submarine BowY: <input id="memento-playerTwo-submarine-bowY" type="text" th:field="*{memento.playerTwo.submarine.bowY}"/></p>
            <p>playerTwo submarine StemX: <input id="memento-playerTwo-submarine-stemX" type="text" th:field="*{memento.playerTwo.submarine.stemX}"/></p>
            <p>playerTwo submarine StemY: <input id="memento-playerTwo-submarine-stemY" type="text" th:field="*{memento.playerTwo.submarine.stemY}"/></p>

            <p>playerTwo destroyer BowX: <input id="memento-playerTwo-destroyer-bowX" type="text" th:field="*{memento.playerTwo.destroyer.bowX}"/></p>
            <p>playerTwo destroyer BowY: <input id="memento-playerTwo-destroyer-bowY" type="text" th:field="*{memento.playerTwo.destroyer.bowY}"/></p>
            <p>playerTwo destroyer StemX: <input id="memento-playerTwo-destroyer-stemX" type="text" th:field="*{memento.playerTwo.destroyer.stemX}"/></p>
            <p>playerTwo destroyer StemY: <input id="memento-playerTwo-destroyer-stemY" type="text" th:field="*{memento.playerTwo.destroyer.stemY}"/></p>

            <p>playerTwo cruiser BowX: <input id="memento-playerTwo-cruiser-bowX" type="text" th:field="*{memento.playerTwo.cruiser.bowX}"/></p>
            <p>playerTwo cruiser BowY: <input id="memento-playerTwo-cruiser-bowY" type="text" th:field="*{memento.playerTwo.cruiser.bowY}"/></p>
            <p>playerTwo cruiser StemX: <input id="memento-playerTwo-cruiser-stemX" type="text" th:field="*{memento.playerTwo.cruiser.stemX}"/></p>
            <p>playerTwo cruiser StemY: <input id="memento-playerTwo-cruiser-stemY" type="text" th:field="*{memento.playerTwo.cruiser.stemY}"/></p>

            <p>playerTwo battleship BowX: <input id="memento-playerTwo-battleship-bowX" type="text" th:field="*{memento.playerTwo.battleship.bowX}"/></p>
            <p>playerTwo battleship BowY: <input id="memento-playerTwo-battleship-bowY" type="text" th:field="*{memento.playerTwo.battleship.bowY}"/></p>
            <p>playerTwo battleship StemX: <input id="memento-playerTwo-battleship-stemX" type="text" th:field="*{memento.playerTwo.battleship.stemX}"/></p>
            <p>playerTwo battleship StemY: <input id="memento-playerTwo-battleship-stemY" type="text" th:field="*{memento.playerTwo.battleship.stemY}"/></p>

            <p>playerTwo name: <input id="memento-playerTwo-name" type="text" th:field="*{memento.playerTwo.name}" /></p>

            <p>PlayerOne carrier id: <input id="memento-playerOne-carrier-id" type="text" th:field="*{memento.playerOne.carrier.id}"/></p>
            <p>PlayerOne submarine id: <input id="memento-playerOne-submarine-id" type="text" th:field="*{memento.playerOne.submarine.id}"/></p>
            <p>PlayerOne cruiser id: <input id="memento-playerOne-cruiser-id" type="text" th:field="*{memento.playerOne.cruiser.id}"/></p>
            <p>PlayerOne battleship id: <input id="memento-playerOne-battleship-id" type="text" th:field="*{memento.playerOne.battleship.id}"/></p>
            <p>PlayerOne destroyer id: <input id="memento-playerOne-destroyer-id" type="text" th:field="*{memento.playerOne.destroyer.id}"/></p>

            <p>PlayerTwo carrier id: <input id="memento-playerTwo-carrier-id" type="text" th:field="*{memento.playerTwo.carrier.id}"/></p>
            <p>PlayerTwo submarine id: <input id="memento-playerTwo-submarine-id" type="text" th:field="*{memento.playerTwo.submarine.id}"/></p>
            <p>PlayerTwo cruiser id: <input id="memento-playerTwo-cruiser-id" type="text" th:field="*{memento.playerTwo.cruiser.id}"/></p>
            <p>PlayerTwo battleship id: <input id="memento-playerTwo-battleship-id" type="text" th:field="*{memento.playerTwo.battleship.id}"/></p>
            <p>PlayerTwo destroyer id: <input id="memento-playerTwo-destroyer-id" type="text" th:field="*{memento.playerTwo.destroyer.id}"/></p>

            <p>PlayerOne carrier size: <input id="memento-playerOne-carrier-size" type="text" th:field="*{memento.playerOne.carrier.size}"/></p>
            <p>PlayerOne submarine size: <input id="memento-playerOne-submarine-size" type="text" th:field="*{memento.playerOne.submarine.size}"/></p>
            <p>PlayerOne cruiser size: <input id="memento-playerOne-cruiser-size" type="text" th:field="*{memento.playerOne.cruiser.size}"/></p>
            <p>PlayerOne battleship size: <input id="memento-playerOne-battleship-size" type="text" th:field="*{memento.playerOne.battleship.size}"/></p>
            <p>PlayerOne destroyer size: <input id="memento-playerOne-destroyer-size" type="text" th:field="*{memento.playerOne.destroyer.size}"/></p>

            <p>PlayerTwo carrier size: <input id="memento-playerTwo-carrier-size" type="text" th:field="*{memento.playerTwo.carrier.size}"/></p>
            <p>PlayerTwo submarine size: <input id="memento-playerTwo-submarine-size" type="text" th:field="*{memento.playerTwo.submarine.size}"/></p>
            <p>PlayerTwo cruiser size: <input id="memento-playerTwo-cruiser-size" type="text" th:field="*{memento.playerTwo.cruiser.size}"/></p>
            <p>PlayerTwo battleship size: <input id="memento-playerTwo-battleship-size" type="text" th:field="*{memento.playerTwo.battleship.size}"/></p>
            <p>PlayerTwo destroyer size: <input id="memento-playerTwo-destroyer-size" type="text" th:field="*{memento.playerTwo.destroyer.size}"/></p>
        </form>
    </div>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/constants/constants.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/jquery-1.9.0.js}"></script>
</th:block>

</body>
</html>